<!DOCTYPE html>
<html lang="en">

<head>
  <!-- {% load static %} -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Vincent Nasri</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="#fontawesome" />
  <link rel="stylesheet" href="/media/assets/css/main.css" />
</head>

<body>
  <header>

    <div class="menu-toggler">
      <div class="bar half start"></div>
      <div class="bar"></div>
      <div class="bar half end"></div>
    </div>

    <nav class="top-nav">
      <ul class="nav-list">
        <li>
          <a href="home.html" class="nav-link">Home</a>
        </li>
        <li>
          <a href="#about" class="nav-link">About</a>
        </li>
        <li>
          <a href="#portfolio" class="nav-link">Portfolio</a>
        </li>
        <li>
          <a href="#experience" class="nav-link">Experience</a>
        </li>
        <li>
          <a href="#contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="landing-text">
      <h1>Vincent Nasri</h1>
      <h6>Software Developer | Civil Engineer</h6>
    </div>

  </header>

  <section class="about" id="about">
    <div class="container">
      <div class="profile-img">
        <img src="media/images/main.jpg" alt="" />
      </div>
      <div class="about-details">
        <div class="about-heading">
          <h1>About</h1>
          <h6>Me</h6>
        </div>
        <p>
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
          THIS IS THE ABOUT ME TEXT
        </p>
        <div class="social-media">
          <ul class="nav-list">
            <li>
              <a href="#" class="icon-link">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li>
              <a href="#" class="icon-link">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li>
              <a href="#" class="icon-link">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>

  <section class="portfolio" id="portfolio">
    <div class="container">
      <div class="section-heading">
        <h1>Portfolio</h1>
        <h6>Some of recent work</h6>
      </div>
      {% for project in projects.all %}
      {% if project.id|divisibleby:"2" %}
      <div class="portfolio-item">
        <div class="portfolio-img has-margin-right">
          <img src="{{project.image.url}}" alt="" />
        </div>
        <div class="portfolio-description">
          <h1>{{project.title}}</h1>
          <p>{{project.description}}</p>
          <a href="{{project.url}}" class="cta">View Details</a>
        </div>
      </div>
      {% else %}
      <div class="portfolio-item">
        <div class="portfolio-description has-margin-right">
          <h1>{{project.title}}</h1>
          <p>{{project.description}}</p>
          <a href="{{project.url}}" class="cta">View Details</a>
        </div>
        <div class="portfolio-img">
          <img src="{{project.image.url}}" alt="" />
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>

  <section class="experience" id="experience">
    <div class="container">
      <div class="section-heading">
        <h1>Experience</h1>
      </div>
      <div class="timeline">
        <ul>
          <l1 class="date" data-date="2019 - Present">
            <h1>Full Stack Modular</h1>
            <h6>Modular Optimization Engineer</h6>
            <p>
              Worked as the technical lead at a dynamic growth startup of 15.
            </p>
          </l1>
          <l1 class="date" data-date="2015 - 2019">
            <h1>Thornton Tomasetti</h1>
            <h6>Senior Project Engineer</h6>
            <p>
              thornton tomasetti descrip
            </p>
          </l1>
          <l1 class="date" data-date="2014">
            <h1>University of Texas at Austin</h1>
            <h6>Master of Science</h6>
            <p>
              Structural Engineering
            </p>
          </l1>
          <l1 class="date" data-date="2013">
            <h1>Columbia University</h1>
            <h6>Bachelor of Science</h6>
            <p>
              Civil Engineering
            </p>
          </l1>
        </ul>
      </div>
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="container">
      <div class="section-heading">
        <h1>Contact</h1>
        <h6>Get in Touch</h6>
      </div>
      <form action="">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name..." required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email..." required>
        <label for="message">Message:</label>
        <textarea name="message" id="message" cols="10" rows="10"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </section>

  <footer class="copyright">
    <div class="up" id="up">
      <i class="fa fa-chevron-up"></i>
    </div>
    <p>&copy; Vincent Nasri {% now "Y" %}</p>
  </footer>



  <!-- Javascript files -->
  <script type="text/text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script type="text/text/javascript" src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>
